<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoELauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <userSettings>
        <PoELauncher.Properties.Settings>
            <setting name="LaunchPoE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToolsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>605</value>
            </setting>
            <setting name="MainWindow_Heigth" serializeAs="String">
                <value>435</value>
            </setting>
        </PoELauncher.Properties.Settings>
    </userSettings>
  <appSettings>
    <!-- Processes to Monitor -->
    <add key="PMonitorNbOfProcesses" value="1"/>
    <add key="PMonitorProcess3" value="pathofexilesteam,PathOfExileSteam"/>
  </appSettings>
</configuration>
